bin/
bin/*
_codeql_build_dir/
src/externals/jellyfish-2.2.5/
src/externals/gkno_launcher/
cloud/1000G.RUFUSreference.sorted.min45.tab
*.o
*test*
!src/test_hash_caching.cpp
!integration_test/
!integration_test/**
!scripts/download_denovo_integration_test_data.sh
!scripts/prepare_integration_test_data_for_commit.sh
!testRun/
!.github/workflows/integration-test.yml

# Integration test data - allow minimal committed data
# but exclude large files that shouldn't be committed
integration_test/denovo_data/reference/GRCh38_full.fa*
integration_test/denovo_data/vcfs/
